<%- include ("./partials/header") %>
<div class="container">
    <div class="check">
        <h2> 
            <% let tempInFahrenheit = (data.main.temp * 9/5) - 459.67; %>
            In <%= data.name %> it's  <%=Math.floor(tempInFahrenheit)%> degrees outside.
                <br>
           
            <% data.weather.forEach(function(result) { %>
                <br>
            It's looking like <%=(result.description )%>.
            <% }) %>
        </h2>
        
   

<div id="map"></div>
<h2><a href="/">Back</a></h2>
</div>
</div>

<script>
    
    function initMap() {
        let lat = <%= data.coord.lat%>;
        let lng =   <%= data.coord.lon%>;
        let center = {lat: lat, lng: lng };
        console.log(lat, lng);
        let map = new google.maps.Map(document.getElementById("map"), {
              zoom: 8,
              center: center,
              scrollwheel: false
          });
        let marker = new google.maps.Marker({
              position: center,
              map: map
          });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        };

 
</script>
<script
async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2lzC7BUNTCQvL5-79kn4to7mnxnBKat8&callback=initMap"></script>

<%- include ("./partials/footer") %>