<%- include ("./partials/header") %>
<div class="container">
  
        <h2 style='font-size: 2.7em;'> 
            <% data.weather.forEach(function(result) { %>
            Looking like <%=(result.description )%>.
                <% }) %>
        </h2>
        <br>
        <div class="result">
            <% let tempInFahrenheit = (data.main.temp * 9/5) - 459.67; %>
            It's currently <%=Math.floor(tempInFahrenheit)%> degrees in <%= data.name %>.
            <% if (Math.floor(tempInFahrenheit) < 10) { %>
                <p>If you are outside right now you are a crazy person.</p>
                <% } else if (Math.floor(tempInFahrenheit) >= 10 && Math.floor(tempInFahrenheit) < 20 ) { %>    
                    <p>Getting warmer, but nothing to write home about.</p> 
                    <% } else if (Math.floor(tempInFahrenheit) >= 20 && Math.floor(tempInFahrenheit) < 50 ) { %>    
                    <p>Getting warmer, but nothing to write home about.</p>  
                        <% } else if (Math.floor(tempInFahrenheit) >= 50 && Math.floor(tempInFahrenheit) < 75 ) { %>
                        <p>Not too shabby - sweater weather</p>
                            <% } else if (Math.floor(tempInFahrenheit) >= 75 && Math.floor(tempInFahrenheit) < 85 ) { %>
                            <p>Perfection!</p>
                                <% } else if (Math.floor(tempInFahrenheit) >= 85 && Math.floor(tempInFahrenheit) < 95 ) { %>
                                <p>Warm one out today.</p>
                                    <% } else if (Math.floor(tempInFahrenheit) >= 95) { %>
                                    <p>Ok - maybe this global warming thing is real.</p>
                                        <% } %>          
                                        <br>

                                    </div>
                                  
     
        
        <div id="map"></div>
        <h2><a href="/">Back</a></h2>
    </div>
</div>

<script>
    function initMap() {
        let lat = <%= data.coord.lat%>;
        let lng =   <%= data.coord.lon%>;
        let center = {lat: lat, lng: lng };
        console.log(lat, lng);
        let map = new google.maps.Map(document.getElementById("map"), {
              zoom: 8,
              center: center,
              scrollwheel: false
          });
        let marker = new google.maps.Marker({
              position: center,
              map: map
          });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        };

 
</script>
<script
async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2lzC7BUNTCQvL5-79kn4to7mnxnBKat8&callback=initMap"></script>

<%- include ("./partials/footer") %>